.topbox{

}
.topbox h1{
    margin-bottom: 20px;
    text-transform: uppercase;
}
.topbox .list{}

.topbox .list .listItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.topbox .list .listItem .user{
    display: flex;
    gap:20px;

}
.topbox .list .listItem .user img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.topbox .list .listItem .user .userText {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.topbox .list .listItem .user .userText .username{
    font-size: 14px;
    font-weight: 500;
}
.topbox .list .listItem .user .userText .email{
    font-size: 12px;
}

.topbox .list .listItem .amount{
    font-weight: 500;
}
@media screen and (max-width: 1400px){
    .topbox h1{
        font-size: 24px;
    }
    .topbox .list .listItem .user img{
        display: none;
    }
    .topbox .list .listItem .user .userText .email{
        display: none;
    }
  }
  @media screen and (max-width: 1024px){
    
    .topbox .list .listItem .user img{
        display: block;
    }
    .topbox .list .listItem .user .userText .email{
        display: block;
    }
  }